<table class="table table-striped  table-hover m-4 text-center align-middle">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Department Number</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of studentService.getAllStudents();">
      <td >{{student.id}}</td>
      <td >{{student.name}}</td>
      <td >{{student.age}}</td>
      <td >{{student.department_number}}</td>
      <td>
        <app-delete-student [id]="student.id"></app-delete-student>
      </td>
    </tr>
    </tbody>
  </table>