<p-button  label="Add Student" (click)="showCreateDialog()"></p-button>

<p-dialog [(visible)]="displayCreateModal" [modal]="true" [draggable]="false">
    <div class="grid p-fluid">

      <div class="col-12 md:col-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input #name type="text" pInputText placeholder="name">
        </div>
      </div>

      <div class="col-12 md:col-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="fa fa-birthday-cake"></i></span>
          <input #age type="number" pInputText placeholder="Age">
        </div>
      </div>

      <div class="col-12 md:col-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="fa fa-building"></i></span>
          <input #department_number type="number" pInputText placeholder="Department number">
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-plus-circle" (click)="add(name.value, age.value, department_number.value)" label="Add" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>